{% extends 'base.html.twig' %}

{% block title %}Group
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-16">
		<h1 class="text-3xl font-semibold mb-6">{{ group.name }}</h1>

		<div class="group-card bg-white shadow rounded p-6 mb-6">
			<h2 class="text-xl font-semibold mb-4">Membres du groupe</h2>
			<ul class="group-users space-y-2">
				{% for user in group.users %}
					<li class="group-user text-gray-700">{{ user.firstname }}
						{{ user.lastname }}</li>
				{% endfor %}
			</ul>
		</div>

		<div class="flex space-x-4 mb-6">
			<a href="{{ path('app_group_index') }}" class="text-blue-600 hover:text-blue-500">Retour à la liste</a>
			<a href="{{ path('app_group_edit', {'id': group.id}) }}" class="text-blue-600 hover:text-blue-500">Modifier</a>
		</div>

		{{ include('group/_delete_form.html.twig') }}

		<div class="posts">
			<h2 class="text-2xl font-semibold mb-4">Les posts</h2>
			<ul class="space-y-4">
				{% for post in group.posts %}
					{% include 'post/show.html.twig' with {'post': post} %}
				{% endfor %}
			</ul>
		</div>
		{% include 'post/new.html.twig' with {'groupId': group.id} %}
	</div>
{% endblock %}
