<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="navbar">
				<h2>CircleSync</h2>
				<ul class="navbar-nav">
					{% if app.user %}
						<li class="nav-item">
							<a href="{{ path('app_home') }}" class="nav-link">Accueil</a>
						</li>

						<li class="nav-item">
							<a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a href="{{ path('app_login') }}" class="nav-link">Se connecter</a>
						</li>
						<li class="nav-item">
							<a href="{{ path('app_register') }}" class="nav-link">S'inscrire</a>
						</li>
					{% endif %}
				</ul>
				{% if app.user %}
					<div class="profile">
						<h3>Bienvenu
							{{ app.user.lastname }}</h3>
						{% if app.user.image %}
							{% else %}
								<img class="profile-image" src="{{ asset('assets/images/avatar/userProfile.jpg')}}" alt="Profile">
						{% endif %}
					</div>
				{% endif %}
			</nav>
		</header>

		{% if app.user %}
			<div class="page-container">
				<aside class="sidebar">
					<h3>Mes groupes</h3>
					<ul>
						{% for group in app.user.groupes %}
							<li>
								<a href="{{ path('app_group_show', {'id': group.id}) }}">{{ group.name }}</a>
							</li>
						{% endfor %}
					</ul>
					<a href="{{ path('app_group_new') }}" class="btn-create-group">Créer un groupe</a>
				</aside>

				<main class="main-content">
				{% else %}
					<main class="main-content-no-sidebar">
					{% endif %}
					{% block body %}{% endblock %}
				</main>
				{% if app.user %}
				</div>
			{% endif %}
		</body>
	</body>
</html>
