{% block body %}
	<li class="post bg-white shadow rounded p-6">
		<div class="post-header flex items-center justify-between mb-4">
			<h3 class="post-author text-xl font-semibold">{{ post.user.lastname }}
				{{ post.user.firstname }}</h3>
			<p class="post-date text-gray-500">{{ post.publicationDate|date('d/m/Y') }}</p>
		</div>
		<div class="post-content">
			<p class="mb-4">{{ post.content }}</p>
			<p class="post-likes text-gray-500">{{ post.nbrLikes }}
				Likes</p>


			{% set liked = false %}
			{% for like in post.likes %}
				{% if like.user.id == app.user.id %}
					{% set liked = true %}
				{% endif %}
			{% endfor %}
			{% if liked %}
				<a href="{{ path('app_like_remove_post', {'idPost': post.id}) }}" class="text-red-600 hover:text-red-500">Remove Like</a>
			{% else %}
				<a href="{{ path('app_like_add_post', {'idPost': post.id}) }}" class="text-blue-600 hover:text-blue-500">Like</a>
			{% endif %}


			{# {% for like in post.likes %}
							{% if like.user.id == app.user.id %}
								<a href="{{ path('app_like_remove_post', {'idPost': post.id}) }}" class="text-red-600 hover:text-red-500">Remove Like</a>
							{% else %}
								<a href="{{ path('app_like_add_post', {'idPost': post.id}) }}" class="text-blue-600 hover:text-blue-500">Like</a>
							{% endif %}
						{% endfor %} #}

		</div>
	</li>
{% endblock %}
